body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row {
    clear: both;
    content: "";
    display: flex;
    justify-content: center;
    /* margin-left: auto;
    margin-right: auto; */
  }

 .square:last-child, .square:first-child, .board-row:first-of-type > .square, .board-row:last-of-type > .square{
      border: 0px transparent;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 0.1px solid #eee;
    /* border-radius: 50%; */
    float: left;
    height: 14px;
    padding: 0;
    text-align: center;
    width: 14px;
  }

  [value=true]{
      background: #000;
  }

  [value=false]{
    background: #fff;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  /* .game {
    display: flex;
    flex-direction: row;
  } */
  .game-board {
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
  .game-info {
    margin-left: 20px;
  }
  